# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual env
.venv/
venv/
ENV/
env/
*.env

# IDEs
.vscode/
.idea/

# Data / outputs / artifacts
artifacts/
outputs/
examples/*.csv
examples/*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/
