name: publish-to-pypi
on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install build tools
        run: pip install --upgrade pip build twine
      - name: Build package
        run: python -m build
      - name: Twine check
        run: twine check dist/*
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
